#JS-Sidebar {
  bottom: 0;
  left: 0;
  position: fixed;
  top: 75px;
}

#JS-Sidebar .sidebar-links {
  color: #f8f8f8;
  font-family: Merriweather, serif;
  font-size: 3rem;
}
#JS-Sidebar .sidebar-link {
  align-items: center;
  color: #f8f8f8;
  display: flex;
  font-size: 1.1rem;
  padding: 0.25em 0.5em;
}
#JS-Sidebar .sidebar-link:hover {
  background-color: #181818;
  text-decoration: none;
}
#JS-Sidebar .sidebar-link-icon svg {
  height: 1.5rem;
  margin-bottom: -0.25em;
  width: 1.5rem;
}
#JS-Sidebar .sidebar-link-text {
  padding-left: 0.5em;
}
#JS-Sidebar .active {
  background-color: #181818;
  border-right: 6px solid #29ff6a;
}
#JS-Sidebar .active svg {
  fill: #29ff6a;
}
